:root {
	--ued-color-white: #fff;
	--ued-color-black: #000;
	--ued-color-primary: #9a16f8;
	--ued-color-primary-light-1: #a127f8;
	--ued-color-primary-light-2: #a939f8;
	--ued-color-primary-light-3: #b04af8;
	--ued-color-primary-light-4: #b75bf8;
	--ued-color-primary-light-5: #bf6df8;
	--ued-color-primary-light-6: #c67ef8;
	--ued-color-primary-light-7: #cd8ff8;
	--ued-color-primary-light-8: #d5a1f8;
	--ued-color-primary-light-9: #e3c4f8;
	--ued-color-primary-dark-2: #8105f6;
	--ued-color-success: #67c23a;
	--ued-color-success-light-3: #95d475;
	--ued-color-success-light-5: #b3e19d;
	--ued-color-success-light-7: #d1edc4;
	--ued-color-success-light-8: #e1f3d8;
	--ued-color-success-light-9: #f0f9eb;
	--ued-color-success-dark-2: #529b2e;
	--ued-color-warning: #e6a23c;
	--ued-color-warning-light-3: #eebe77;
	--ued-color-warning-light-5: #f3d19e;
	--ued-color-warning-light-7: #f8e3c5;
	--ued-color-warning-light-8: #faecd8;
	--ued-color-warning-light-9: #fdf6ec;
	--ued-color-warning-dark-2: #b88230;
	--ued-color-danger: #f56c6c;
	--ued-color-danger-light-3: #f89898;
	--ued-color-danger-light-5: #fab6b6;
	--ued-color-danger-light-7: #fcd3d3;
	--ued-color-danger-light-8: #fde2e2;
	--ued-color-danger-light-9: #fef0f0;
	--ued-color-danger-dark-2: #c45656;
	--ued-color-error: #f56c6c;
	--ued-color-error-light-3: #f89898;
	--ued-color-error-light-5: #fab6b6;
	--ued-color-error-light-7: #fcd3d3;
	--ued-color-error-light-8: #fde2e2;
	--ued-color-error-light-9: #fef0f0;
	--ued-color-error-dark-2: #c45656;
	--ued-color-info: #909399;
	--ued-color-info-light-3: #b1b3b8;
	--ued-color-info-light-5: #c8c9cc;
	--ued-color-info-light-7: #dedfe0;
	--ued-color-info-light-8: #e9e9eb;
	--ued-color-info-light-9: #f4f4f5;
	--ued-color-info-dark-2: #73767a;
	--ued-bg-color: #fff;
	--ued-bg-color-page: #fff;
	--ued-bg-color-overlay: #fff;
	--ued-text-color-primary: #303133;
	--ued-text-color-regular: #606266;
	--ued-text-color-secondary: #909399;
	--ued-text-color-placeholder: #a8abb2;
	--ued-text-color-disable: #c0c4cc;
	--ued-border-color: #dcdfe6;
	--ued-border-color-light: #e4e7ed;
	--ued-border-color-lighter: #ebeef5;
	--ued-border-color-extra-light: #f2f6fc;
	--ued-border-color-dark: #d4d7de;
	--ued-border-color-darker: #cdd0d6;
	--ued-fill-color: #f0f2f5;
	--ued-fill-color-light: #f5f7fa;
	--ued-fill-color-lighter: #fafafa;
	--ued-fill-color-extra-light: #fafcff;
	--ued-fill-color-dark: #ebedf0;
	--ued-fill-color-darker: #e6e8eb;
	--ued-fill-color-blank: #fff;
	--ued-border-radius-base: 4px;
	--ued-border-radius-small: 2px;
	--ued-border-radius-round: 20px;
	--ued-border-radius-circle: 100%;
	--ued-font-size-extra-large: 20px;
	--ued-font-size-large: 18px;
	--ued-font-size-medium: 16px;
	--ued-font-size-base: 14px;
	--ued-font-size-small: 13px;
	--ued-font-size-extra-small: 12px;
	--ued-box-shadow-base: 0 2px 4px rgb(0 0 0 / 12%), 0 0 6px rgb(0 0 0 / 4%);
	--ued-box-shadow-light: 0 2px 12px 0 rgb(0 0 0 / 10%);
	--ued-disabled-bg-color: var(--ued-fill-color-light);
	--ued-disabled-text-color: var(--ued-text-color-placeholder);
	--ued-disabled-border-color: var(--ued-border-color-light);
	--ued-index-normal: 1;
	--ued-index-top: 1000;
	--ued-index-popper: 2000;
	--ued-border-width: 1px;
	--ued-border-style: solid;
	--ued-border-color-hover: var(--ued-text-color-placeholder);
	--ued-border: var(--ued-border-width) var(--ued-border-style) var(--ued-border-color);
	--ued-svg-monochrome-grey: #dcdde0;
	--ued-font-weight-primary: 500;
	--ued-font-line-height-primary: 24px;
	--ued-transition-duration: 0.3s;
	--ued-transition-duration-fast: 0.2s;
	--ued-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ued-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
	--ued-transition-all: all var(--ued-transition-duration) var(--ued-transition-function-ease-in-out-bezier);
	--ued-transition-fade: opacity var(--ued-transition-duration) var(--ued-transition-function-fast-bezier);
	--ued-transition-md-fade: transform var(--ued-transition-duration) var(--ued-transition-function-fast-bezier),
		opacity var(--ued-transition-duration) var(--ued-transition-function-fast-bezier);
	--ued-transition-fade-linear: opacity var(--ued-transition-duration-fast) linear;
	--ued-transition-border: border-color var(--ued-transition-duration-fast) var(--ued-transition-function-ease-in-out-bezier);
	--ued-transition-box-shadow: box-shadow var(--ued-transition-duration-fast) var(--ued-transition-function-ease-in-out-bezier);
	--ued-transition-color: color var(--ued-transition-duration-fast) var(--ued-transition-function-ease-in-out-bezier);
}
