:root {
	color-scheme: light;

	--ued-color-white: #fff;
	--ued-color-black: #000;
	--ued-color-primary: #409eff;
	--ued-color-primary-light-3: #79bbff;
	--ued-color-primary-light-5: #a0cfff;
	--ued-color-primary-light-7: #c6e2ff;
	--ued-color-primary-light-8: #d9ecff;
	--ued-color-primary-light-9: #ecf5ff;
	--ued-color-primary-dark-2: #337ecc;
	--ued-color-success: #67c23a;
	--ued-color-success-light-3: #95d475;
	--ued-color-success-light-5: #b3e19d;
	--ued-color-success-light-7: #d1edc4;
	--ued-color-success-light-8: #e1f3d8;
	--ued-color-success-light-9: #f0f9eb;
	--ued-color-success-dark-2: #529b2e;
	--ued-color-warning: #e6a23c;
	--ued-color-warning-light-3: #eebe77;
	--ued-color-warning-light-5: #f3d19e;
	--ued-color-warning-light-7: #f8e3c5;
	--ued-color-warning-light-8: #faecd8;
	--ued-color-warning-light-9: #fdf6ec;
	--ued-color-warning-dark-2: #b88230;
	--ued-color-danger: #f56c6c;
	--ued-color-danger-light-3: #f89898;
	--ued-color-danger-light-5: #fab6b6;
	--ued-color-danger-light-7: #fcd3d3;
	--ued-color-danger-light-8: #fde2e2;
	--ued-color-danger-light-9: #fef0f0;
	--ued-color-danger-dark-2: #c45656;
	--ued-color-error: #f56c6c;
	--ued-color-error-light-3: #f89898;
	--ued-color-error-light-5: #fab6b6;
	--ued-color-error-light-7: #fcd3d3;
	--ued-color-error-light-8: #fde2e2;
	--ued-color-error-light-9: #fef0f0;
	--ued-color-error-dark-2: #c45656;
	--ued-color-info: #909399;
	--ued-color-info-light-3: #b1b3b8;
	--ued-color-info-light-5: #c8c9cc;
	--ued-color-info-light-7: #dedfe0;
	--ued-color-info-light-8: #e9e9eb;
	--ued-color-info-light-9: #f4f4f5;
	--ued-color-info-dark-2: #73767a;
	--ued-bg-color: #fff;
	--ued-bg-color-page: #fff;
	--ued-bg-color-overlay: #fff;
	--ued-text-color-primary: #303133;
	--ued-text-color-regular: #606266;
	--ued-text-color-secondary: #909399;
	--ued-text-color-placeholder: #a8abb2;
	--ued-text-color-disable: #c0c4cc;
	--ued-border-color: #dcdfe6;
	--ued-border-color-light: #e4e7ed;
	--ued-border-color-lighter: #ebeef5;
	--ued-border-color-extra-light: #f2f6fc;
	--ued-border-color-dark: #d4d7de;
	--ued-border-color-darker: #cdd0d6;
	--ued-fill-color: #f0f2f5;
	--ued-fill-color-light: #f5f7fa;
	--ued-fill-color-lighter: #fafafa;
	--ued-fill-color-extra-light: #fafcff;
	--ued-fill-color-dark: #ebedf0;
	--ued-fill-color-darker: #e6e8eb;
	--ued-fill-color-blank: #fff;
	--ued-border-radius-base: 4px;
	--ued-border-radius-small: 2px;
	--ued-border-radius-round: 20px;
	--ued-border-radius-circle: 100%;
	--ued-font-size-extra-large: 20px;
	--ued-font-size-large: 18px;
	--ued-font-size-medium: 16px;
	--ued-font-size-base: 14px;
	--ued-font-size-small: 13px;
	--ued-font-size-extra-small: 12px;
	--ued-box-shadow-base: 0 2px 4px rgb(0 0 0 / 12%), 0 0 6px rgb(0 0 0 / 4%);
	--ued-box-shadow-light: 0 2px 12px 0 rgb(0 0 0 / 10%);
	--ued-disabled-bg-color: var(--ued-fill-color-light);
	--ued-disabled-text-color: var(--ued-text-color-placeholder);
	--ued-disabled-border-color: var(--ued-border-color-light);
	--ued-index-normal: 1;
	--ued-index-top: 1000;
	--ued-index-popper: 2000;
	--ued-border-width: 1px;
	--ued-border-style: solid;
	--ued-border-color-hover: var(--ued-text-color-placeholder);
	--ued-border: var(--ued-border-width) var(--ued-border-style) var(--ued-border-color);
	--ued-svg-monochrome-grey: #dcdde0;
	--ued-font-weight-primary: 500;
	--ued-font-line-height-primary: 24px;
	--ued-transition-duration: 0.3s;
	--ued-transition-duration-fast: 0.2s;
	--ued-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ued-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
	--ued-transition-all: all var(--ued-transition-duration) var(--ued-transition-function-ease-in-out-bezier);
	--ued-transition-fade: opacity var(--ued-transition-duration) var(--ued-transition-function-fast-bezier);
	--ued-transition-md-fade: transform var(--ued-transition-duration) var(--ued-transition-function-fast-bezier),
		opacity var(--ued-transition-duration) var(--ued-transition-function-fast-bezier);
	--ued-transition-fade-linear: opacity var(--ued-transition-duration-fast) linear;
	--ued-transition-border: border-color var(--ued-transition-duration-fast) var(--ued-transition-function-ease-in-out-bezier);
	--ued-transition-box-shadow: box-shadow var(--ued-transition-duration-fast) var(--ued-transition-function-ease-in-out-bezier);
	--ued-transition-color: color var(--ued-transition-duration-fast) var(--ued-transition-function-ease-in-out-bezier);
}

html.dark {
	color-scheme: dark;

	--ued-color-primary: #409eff;
	--ued-color-primary-light-3: #3375b9;
	--ued-color-primary-light-5: #2a598a;
	--ued-color-primary-light-7: #213d5b;
	--ued-color-primary-light-8: #1d3043;
	--ued-color-primary-light-9: #18222c;
	--ued-color-primary-dark-2: #66b1ff;
	--ued-color-success: #67c23a;
	--ued-color-success-light-3: #4e8e2f;
	--ued-color-success-light-5: #3e6b27;
	--ued-color-success-light-7: #2d481f;
	--ued-color-success-light-8: #25371c;
	--ued-color-success-light-9: #1c2518;
	--ued-color-success-dark-2: #85ce61;
	--ued-color-warning: #e6a23c;
	--ued-color-warning-light-3: #a77730;
	--ued-color-warning-light-5: #7d5b28;
	--ued-color-warning-light-7: #533f20;
	--ued-color-warning-light-8: #3e301c;
	--ued-color-warning-light-9: #292218;
	--ued-color-warning-dark-2: #ebb563;
	--ued-color-danger: #f56c6c;
	--ued-color-danger-light-3: #b25252;
	--ued-color-danger-light-5: #854040;
	--ued-color-danger-light-7: #582e2e;
	--ued-color-danger-light-8: #412626;
	--ued-color-danger-light-9: #2b1d1d;
	--ued-color-danger-dark-2: #f78989;
	--ued-color-error: #f56c6c;
	--ued-color-error-light-3: #b25252;
	--ued-color-error-light-5: #854040;
	--ued-color-error-light-7: #582e2e;
	--ued-color-error-light-8: #412626;
	--ued-color-error-light-9: #2b1d1d;
	--ued-color-error-dark-2: #f78989;
	--ued-color-info: #909399;
	--ued-color-info-light-3: #6b6d71;
	--ued-color-info-light-5: #525457;
	--ued-color-info-light-7: #393a3c;
	--ued-color-info-light-8: #2d2d2f;
	--ued-color-info-light-9: #202121;
	--ued-color-info-dark-2: #a6a9ad;
	--ued-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
	--ued-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
	--ued-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
	--ued-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
	--ued-bg-color-page: #0a0a0a;
	--ued-bg-color: #141414;
	--ued-bg-color-overlay: #1d1e1f;
	--ued-text-color-primary: #e5eaf3;
	--ued-text-color-regular: #cfd3dc;
	--ued-text-color-secondary: #a3a6ad;
	--ued-text-color-placeholder: #8d9095;
	--ued-text-color-disabled: #6c6e72;
	--ued-border-color-darker: #636466;
	--ued-border-color-dark: #58585b;
	--ued-border-color: #4c4d4f;
	--ued-border-color-light: #414243;
	--ued-border-color-lighter: #363637;
	--ued-border-color-extra-light: #2b2b2c;
	--ued-fill-color-darker: #424243;
	--ued-fill-color-dark: #39393a;
	--ued-fill-color: #303030;
	--ued-fill-color-light: #262727;
	--ued-fill-color-lighter: #1d1d1d;
	--ued-fill-color-extra-light: #191919;
	--ued-fill-color-blank: transparent;
	--ued-mask-color: rgba(0, 0, 0, 0.8);
	--ued-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
