.ued-radio {
	--ued-radio-font-size: var(--ued-font-size-base);
	--ued-radio-text-color: var(--ued-text-color-regular);
	--ued-radio-font-weight: var(--ued-font-weight-primary);
	--ued-radio-input-height: 14px;
	--ued-radio-input-width: 14px;
	--ued-radio-input-border-radius: var(--ued-border-radius-circle);
	--ued-radio-input-bg-color: var(--ued-fill-color-blank);
	--ued-radio-input-border: var(--ued-border);
	--ued-radio-input-border-color: var(--ued-border-color);
	--ued-radio-input-border-color-hover: var(--ued-color-primary);

	position: relative;
	display: inline-flex;
	align-items: center;
	height: 32px;
	margin-right: 32px;
	font-size: var(--ued-font-size-base);
	font-weight: var(--ued-radio-font-weight);
	color: var(--ued-radio-text-color);
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	outline: none;

	&.ued-radio--large {
		height: 40px;
	}

	&.ued-radio--small {
		height: 24px;
	}

	&__input {
		position: relative;
		display: inline-flex;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		outline: none;
	}

	&__inner {
		position: relative;
		box-sizing: border-box;
		display: inline-block;
		width: var(--ued-radio-input-width);
		height: var(--ued-radio-input-height);
		cursor: pointer;
		background-color: var(--ued-radio-input-bg-color);
		border: var(--ued-radio-input-border);
		border-radius: var(--ued-radio-input-border-radius);

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 4px;
			height: 4px;
			content: '';
			background-color: var(--ued-color-white);
			border-radius: var(--ued-radio-input-border-radius);
			transition: transform 0.15s ease-in;
			transform: translate(-50%, -50%) scale(0);
		}

		&:hover {
			border-color: var(--ued-radio-input-border-color-hover);
		}
	}

	&__original {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: 0;
		outline: none;
		opacity: 0;

		&:focus-visible + .ued-radio__inner {
			border-radius: var(--ued-radio-input-border-radius);
			outline: 2px solid var(--ued-radio-input-border-color-hover);
			outline-offset: 1px;
		}
	}

	&__label {
		padding-left: 8px;
		font-size: var(--ued-radio-font-size);
	}

	&.ued-radio--large &__label {
		font-size: 16px;
	}

	&.ued-radio--large &__inner {
		width: 16px;
		height: 16px;
	}

	&.ued-radio--small &__label {
		font-size: 12px;
	}

	&.ued-radio--small &__inner {
		width: 12px;
		height: 12px;
	}

	&.is-bordered {
		box-sizing: border-box;
		padding: 0 15px 0 9px;
		border: var(--ued-border);
		border-radius: var(--ued-border-radius-base);
	}

	&.is-bordered.is-checked {
		border-color: var(--ued-color-primary);
	}

	&.is-bordered.is-disabled {
		cursor: not-allowed;
		border-color: var(--ued-border-color-lighter);
	}

	&.is-bordered.ued-radio--large {
		padding: 0 19px 0 11px;
		border-radius: var(--ued-border-radius-base);
	}

	&__input.is-checked + &__label {
		color: var(--ued-color-primary);
	}

	&.is-bordered.ued-radio--large &__label {
		font-size: var(--ued-font-size-base);
	}

	&__input.is-checked &__inner {
		background: var(--ued-color-primary);
		border-color: var(--ued-color-primary);

		&::after {
			transform: translate(-50%, -50%) scale(1);
		}
	}

	&__input.is-disabled &__inner {
		cursor: not-allowed;
		background-color: var(--ued-fill-color-light);
		border-color: var(--ued-border-color);

		&::after {
			cursor: not-allowed;
			background-color: var(--ued-fill-color-light);
		}
	}

	&.is-bordered.ued-radio--large &__inner {
		width: 16px;
		height: 16px;
	}

	&.is-bordered.ued-radio--small {
		padding: 0 11px 0 7px;
		border-radius: var(--ued-border-radius-base);
	}

	&.is-bordered.ued-radio--small &__label {
		font-size: 12px;
	}

	&.is-bordered.ued-radio--small &__inner {
		width: 12px;
		height: 12px;
	}

	&:last-child {
		margin-right: 0;
	}

	&__input.is-disabled + span.ued-radio__label {
		color: var(--ued-text-color-placeholder);
		cursor: not-allowed;
	}

	&__input.is-disabled &__inner + &__label {
		cursor: not-allowed;
	}

	&__input.is-disabled.is-checked &__inner {
		background-color: var(--ued-fill-color-light);
		border-color: var(--ued-border-color);

		&::after {
			background-color: var(--ued-text-color-placeholder);
		}
	}

	&:focus:not(:focus-visible):not(.is-focus):not(:active):not(.is-disabled)
		&__inner {
		box-shadow: 0 0 2px 2px var(--ued-radio-input-border-color-hover);
	}
}
